@charset "utf-8";
/* CSS Document */

* {
	-webkit-tap-highLight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highLight-color: transparent;
	-moz-tap-highLight-color: rgba(0, 0, 0, 0);
	-ms-tap-highLight-color: rgba(0, 0, 0, 0);
	-o-tap-highLight-color: rgba(0, 0, 0, 0);
	outline: none;
	border: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}
body {
	font-family: 'pingFangSC-Regular','Microsoft YaHei', Arial, sans-serif, Helvetica;
	font-stretch: normal;
	font-style: normal;
	margin: 0;
	padding: 0;
	background-color: #f8f8fb;
	overflow-x: hidden;
}
#app, body, html {
	width: 100%;
	height: 100%;
}
ul, li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
	-webkit-tap-highLight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highLight-color: transparent;
	-moz-tap-highLight-color: rgba(0, 0, 0, 0);
	-ms-tap-highLight-color: rgba(0, 0, 0, 0);
	-o-tap-highLight-color: rgba(0, 0, 0, 0);
}
a:hover, a:focus {
	text-decoration: none;
	outline: none;
}
u {
	text-decoration: none;
	outline: none;
}
img {
	border: 0;
	outline: none;
}
.none {
	display: none;
}
.clear {
	clear: both;
}
.clearfix {
	zoom: normal;
}
.clearfix:before, .clearfix:after {
	content: "";
	display: table;
	height: 0;
	visibility: hidden;
}
.clearfix:after {
	clear: both;
}
input {
	-webkit-tap-highLight-color: rgba(0, 0, 0, 0);   /* 点击去除高亮的颜色 */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"] {
    -moz-appearance: textfield;
}
select {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;                        /* 去除系统默认的样式 */
	-webkit-tap-highLight-color: rgba(0, 0, 0, 0);   /* 点击去除高亮的颜色 */
}
select::-ms-expand {
 display: none;
}
textarea {
	resize: none;
}

.h12 {
  height: 12px;
  clear: both;
}
.h24 {
  height: 24px;
  clear: both;
}
.margin0 {
	margin: 0;
}